---
pageable: true
per_page: 10
---

<% page_articles.each_with_index do |article, i| %>
  <div class="row-fluid">
  <h2><%= link_to article.title, article %>
  </h2><span><%= article.date.strftime('%b %e, %Y') %></span>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.body %>
  </div><!--/row-->
<hr>
<% end %>

<% if paginate %>
  <p>Pagina <%= page_number %> de <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Pagina previa', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Pagina siguiente', next_page %></p>
  <% end %>
<% end %>
